*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: #2a2a2a;
  background-color: beige;
max-width: 100%;
}
h1,
h2,
h3,
p,
ul {
  // list-style: none;
  padding: 0;
  margin: 0;
}
input {
  display: block;
  margin: 30px auto;
  padding: 10px;
  width: 600px;
  border: none;
}
.container {
  width: 1200px;
max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
.card-container {
  width: 600px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.country-name {
  margin-bottom: 30px;
  text-align: center;
}
.country-data-body {
  margin-right: auto;
  margin-bottom: 15px;
  padding: 0;
  text-align: left;
}
.country-name-list {
  margin-left: 300px;
  padding-top: 15px;
  text-align: left;
  cursor: pointer;
}
.country-data-item {
  margin-top: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.languages {
  flex-direction: column;
  // justify-content: space-around;
}
.languages > ul {
  list-style: none;
}
.language {
  margin-bottom: 5px;
  margin-top: 10px;
}
.value {
}
