*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: #2a2a2a;
  background-color: beige;
}
h1,
h2,
h3,
p,
ul {
  // list-style: none;
  padding: 0;
  margin: 0;
}
input {
  display: block;
  margin: 30px auto;
  padding: 10px;
  width: 600px;
  border: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
.card-container {
  width: 600px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.country-name {
  margin-bottom: 30px;
  text-align: center;
}
.country-data-body {
  margin-right: auto;
  text-align: left;
}
.country-name-list {
  margin-left: 300px;
  padding-top: 15px;
  text-align: left;
  cursor: pointer;
}
.country-data-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
