<div class="container">
  <input type="text" placeholder="Search country" />

<div class="js-card-container"></div>
</div>


<!-- <div class="country-card">
  <h2 class="country-name">Name</h2>
  <div>
      <ul class="country-data-list">
    <li class="country-data-item">
      <h3>Capital:</h3>
      <span>Bern</span>
    </li>
    <li class="country-data-item">
      <h3>Population:</h3>
      <span>111111</span>
    </li>
    <li class="country-data-item">
      <h3>Languages:</h3>
      <span>
        <ul>
          <li class="language">ger</li>
          <li class="language">eng</li>
          <li class="language">ital</li>
        </ul>
      </span>
    </li>
  </ul>
  </div>
  <div>
      <img src="" alt="flag" class="country-flag">
  </div>
  
</div> -->
